.card {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transform: rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 500ms;
}

.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

#flashcards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
}