/* #board table {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

#board table td {
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  width: 133px;
  height: 133px;
  font-size: 50px;
} */

#board {
  display: grid;
  width: 450px;
  height: 450px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  /* border: 1px solid black; */
  padding: 0;
}

#board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 1px solid black;
  cursor: pointer;
}