#add-task {
  display: flex;
  flex-direction: row;
}

#add-task input {
  margin-right: 1rem;
}

.task input {
  margin-right: 1rem;
}

.task .strike {
  text-decoration: line-through;
}

#clear {
  margin-top: 1rem;
}